body {
  /* basic settings and margin reset */
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
  
  /* min-height to center the container vertically */
  min-height: 100vh;

  /* centering the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px;
  width: 1080px;

  /* cards positioning */
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #006970;
  padding: 50px;
  width: 300px;
  min-height: 500px;
  border-radius: 10px;
  box-sizing: border-box;
  
  /* card's content positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.header {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 40px;
}

/* basic button settings (the one in the middle) */
.moreBtn {
  background-color: #ffffff;
  color: #006970;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  height: 50px;
  min-width: 150px;
  border-radius: 40px;
  border: 0;
  margin-top: auto;
}

.moreBtn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.moreBtn:active {
  background-color: hsl(184, 100%, 22%);
  color: #ffffff;
  border: #ffffff 3px solid;
}

/* first card button overrides */
.card:first-of-type {
  background-color: #e38826;
}

.card:first-of-type .moreBtn {
  color: #e38826;
}

.card:first-of-type .moreBtn:active {
  background-color: #e38826;
  color: #ffffff;
}

/* last card button overrides */
.card:last-of-type {
  background-color: #004241;
}

.card:last-of-type .moreBtn {
  color: #004241;
}

.card:last-of-type .moreBtn:active {
  background-color: #004241;
  color: #ffffff;
}

.attribution {
  /* fixed positioning in the bottom */
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100vw;
  font-size: 11px;
  text-align: center;
  background-color: #444;
  padding: 5px 0;
}

.attribution a {
  color: #00b688;
}

/* media queries - to change styles, when the page reaches max-width 992px */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 20px 0;
  }
}
